version: "0.0.1" # Or your preferred version

services:
    frontend:
        image: <your-image-name>
        ports:
            - "80:80" # Map port 80 on host to port 80 in container
        depends_on: # Make sure backend starts first
            - backend
        networks:
            - ai-md-editor-network # Use the same network for frontend and backend

    backend:
        image: <your-image-name>
        ports:
            - "8080:8080"
        env_file:
            - backend_env.production
        depends_on:
            - mongo
        networks:
            - ai-md-editor-network

    mongo:
        image: mongo:7.0.16
        ports:
            - 27017:27017
        volumes:
            - mongo_data:/data/db
        networks:
            - ai-md-editor-network

volumes:
    mongo_data: # Define a named volume

networks:
    ai-md-editor-network: # Define a network to allow communication between containers
